<!DOCTYPE html>
<html>
  <head>
    <title>MySms</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- display flashes -->
    <% flash.each do |type, msg| %>
      <div class="alert <%= get_alert_class(type) %>">
        <!-- test if message is string or iterable -->
        <% if msg.respond_to?(:each) %>
          <ul class="alert-list">
            <% msg.each do |msg| %>
              <li class="alert-item"><%= msg %></li>
            <% end %>
          </ul>
        <% else %>
          <%= msg %>
        <% end %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <!-- content -->
    <%= yield %>
  </body>
</html>
