%div.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize

%table.table.table-striped
  %thead
    %tr
      - display_attrs.each do |a|
        %th= model_class.human_attribute_name(a)

  %tbody
    - model_collection.each do |e|
      %tr
        - if display_attrs.include? :id
          %td= link_to e.id, e
        - (display_attrs - [:id]).each do |a|
          %td= e.send(a)
        %td
          -url_helpers = Rails.application.routes.url_helpers
          = render partial: 'shared/crud_button',
            locals: { name: 'show', link_args: ["#{model_class.name.downcase}_path", e], class_name: 'btn-default btn-xs' }
          = render partial: 'shared/crud_button',
            locals: { name: 'edit', link_args: ["edit_#{model_class.name.downcase}_path", e], class_name: 'btn-default btn-xs' }
          = render partial: 'shared/crud_button',
            locals: { name: 'destroy', link_args: ["#{model_class.name.downcase}_path", e],
            class_name: 'btn-xs btn-danger',
            kwargs: { method: :delete,
            data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) } } }
          = render partial: 'shared/crud_button',
            locals: { name: 'add note', link_args: ["new_student_note_path", e], class_name: 'btn-default btn-xs' }

= will_paginate model_collection
%br
= render partial: 'shared/crud_button',
  locals: { name: 'new', link_args: ["new_#{model_class.name.downcase}_path"], class_name: 'btn-primary' }
